/.env
/storage/logs/*
/storage/cache/*
/storage/temp/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/temp/.gitkeep
/uploads/*
!/uploads/images/.gitkeep
!/uploads/media/.gitkeep
!/uploads/module-specific/.gitkeep
/vendor/
.phpunit.result.cache
